<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatMio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatMio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <ChatMio.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIP" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIPIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Piyo" serializeAs="String">
                <value>akiyama</value>
            </setting>
            <setting name="Pyon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChatFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatFormGeometryX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatFormGeometryY" serializeAs="String">
                <value>0</value>
            </setting>
        </ChatMio.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChatMio.Properties.Settings>
            <setting name="SQLServerConnectionString" serializeAs="String">
                <value>Server = localhost; Integrated security = SSPI;</value>
            </setting>
        </ChatMio.Properties.Settings>
    </applicationSettings>
</configuration>
