<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatMio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ChatMio.Properties.Settings.ChatMioUserDBConnectionString"
            connectionString="Data Source=YUNTAN-THINKPAD;Initial Catalog=ChatMioUserDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <ChatMio.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIP" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIPIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Piyo" serializeAs="String">
                <value>akiyama</value>
            </setting>
            <setting name="Pyon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChatFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatFormGeometryX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatFormGeometryY" serializeAs="String">
                <value>0</value>
            </setting>
        </ChatMio.Properties.Settings>
    </userSettings>
</configuration>
